 .link 
            {
                color: #FF0000;
                text-decoration: none;
            }
            .link:hover 
            {
                color: #00FF00;
                text-decoration: underline;
            }

            body
            {
                background-color: cornflowerblue;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #b
            {
                background-color: white;
            
                padding: 75px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            input
            {
                border: solid black 5px;
            }
            .button 
            {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 15px 30px;
                text-align: center;
                font-size: 16px;
            }